body {
    margin: 0;
    background: #03060f;
    color: #00ffff;
    font-family: monospace;
    overflow: hidden;
}

.scanlines {
    position: fixed;
    width: 100%;
    height: 100%;
    background:
    repeating-linear-gradient(
        transparent 0px,
        rgba(255,255,255,0.03) 2px,
        transparent 4px
    );
    pointer-events: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hud {
    width: 500px;
    padding: 30px;
    border: 2px solid cyan;
    background: rgba(0,20,40,0.85);
    box-shadow:
    0 0 20px cyan,
    inset 0 0 20px rgba(0,255,255,0.2);
    border-radius: 20px;
}

h1 {
    text-align: center;
    text-shadow: 0 0 20px cyan;
}

.difficulty-box {
    text-align: center;
    margin-bottom: 20px;
}

select {
    padding: 8px;
    background: black;
    color: cyan;
    border: 1px solid cyan;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    background: black;
    color: cyan;
    border: 1px solid cyan;
    text-align: center;
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    flex: 1;
    padding: 15px;
    background: cyan;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 20px cyan;
}

#message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.history {
    margin-top: 20px;
    max-height: 150px;
    overflow-y: auto;
}

.history li {
    background: rgba(0,255,255,0.08);
    margin: 5px 0;
    padding: 8px;
}
